<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <title><%= current_page.data.title || "RailsBridge Boston" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %> internal">
    <%= partial "header" %>
    <%= yield %>
  </body>
</html>
