<% content_for :title do %>
  RailsBridge Boston - Ruby and Rails workshop
<% end %>

<header class="header-bar">
  <%= link_to "Menu", "#!", class: "nav-toggle" %>
</header>
<%= render "nav" %>

<section class="hero">
  <div class="boston">
    <%= image_tag "train.svg", class: "railsbridge" %>

    <h1 class="title">RailsBridge <span>Boston</span></h1>
    <% if show_registration? && next_event.url %>
      <%= link_to t(".register_for_workshop"), next_event.url,
        class: "register-link", target: "_blank" %>
    <% end %>
  </div>
</section>

<% if show_registration? %>
  <%= render "registration" %>
<% end %>

<section class="mailing-list">
  <div class="text">
    <h2 class="section-title">Stay in the loop</h2>
    <p>Want to know about new upcoming workshops? Sign up for our announcement list and we’ll keep you updated!</p>
  </div>

  <%= render "mailchimp_form" %>
</section>

<section class="summary">
  <div class="wrap">
    <div class="text">
      <h2 class="section-title">What is a RailsBridge workshop?</h2>
      <p>
        It is a fun and free way to get started or level up with
        <%= link_to "Ruby", "http://ruby-lang.org/", target: "_blank" %>,
        <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %>,
        and other web technologies. Our events focus on increasing diversity in
        tech, so that people of all backgrounds can feel welcome and comfortable
        in our industry.
      </p>

      <%= link_to "Learn more about us", page_path("about"), :class => "to-about" %>
    </div>

    <div class="media">
      <div class="video">
        <iframe src="http://player.vimeo.com/video/70699061" width="100%" height="400" frameborder="1" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <p class="caption">
        <%= link_to "RailsBridge Boston Video Teaser", "http://vimeo.com/70699061" %>
        from
        <%= link_to "RailsBridge Boston", "http://vimeo.com/railsbridgeboston" %>
        by
        <%= link_to "A2V Media", "http://www.a2vmedia.com/" %>
        on
        <%= link_to "Vimeo", "https://vimeo.com" %>.
      </p>
    </div>
  </div>
</section>
