<nav class="nav">
  <ul class="pages">
    <li class="page-home">
      <%= link_to "Home", "/", class: "to-home" %>
    </li>
    <li class="page-about">
      <%= link_to "About", "/about.html", class: "to-about" %>
    </li>
    <li class="page-resources">
      <%= link_to "Resources", "/resources.html", class: "to-resources" %>
    </li>
    <li class="page-curriculum">
      <%= link_to "Curriculum", "http://docs.railsbridgeboston.org", class: "to-curriculum" %>
    </li>
    <li class="page-blog">
      <%= link_to "Blog", "http://railsbridgeboston.tumblr.com/", class: "to-blog" %>
    </li>
  </ul>
</nav>
