---
title: About - RailsBridge Boston
---
<ul class="workshop-images">
  <li><%= image_tag "workshop/1.jpg" %></li>
  <li><%= image_tag "workshop/2.jpg" %></li>
  <li><%= image_tag "workshop/3.jpg" %></li>
  <li><%= image_tag "workshop/4.jpg" %></li>
</ul>

<main>
  <h1>About</h1>

  <section class="empowering-women">
    <h2 class="section-title">Empowering Women with Ruby</h2>
    <p>Do you dream of someday writing software that helps people and improves the world?</p>
    <p>Led by an all-volunteer team of seasoned, enthusiastic Ruby and Rails developers, the workshop introduces women of all backgrounds to the concepts, tools, and techniques of Ruby and Rails development. Our audience is those with no or little programming experience.</p>
    <p>We welcome you to the Boston Ruby community. Whatever your goal is in learning to program, we hope to connect you with the tools to take the next step.</p>
  </section>

  <section class="promoting-diversity">
    <h2 class="section-title">Promoting Diversity</h2>
    <p>The Boston software scene needs more women. So this workshop is for women and their guests. You should identify as a woman, or be the male guest of a woman who is attending.</p>
    <p>We support mothers who want to code. We will provide childcare to those who need it. Please let us know if you want to use these services on the application form.</p>
  </section>

  <section class="code-of-conduct">
    <h2 class="section-title">Code of Conduct</h2>
    <div class="wrap">
      <p>RailsBridge Boston is dedicated to providing a harassment-free experience for everyone regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. </p>
      <p>We will not tolerate harassment of workshop participants in any form, be it verbal comments (said aloud or typed into a backchannel), imagery, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of lectures, inappropriate physical contact, and unwelcome sexual attention.</p>
      <p>Workshop participants violating these rules may be sanctioned or expelled from the event at the discretion of the organizers.</p>
      <p>If you are being harassed, see someone else being harassed, or have any other concerns on-site please contact one of the workshop organizers or teaching assistants immediately.</p>
    </div>
  </section>

  <section class="contact">
    <h2 class="section-title">Contact</h2>
    <ul>
    <% data.links.contacts.each do |contact| %>
        <li class="contact-<%= contact.type %>">
          <%= contact.description %>
          <a href="<%= contact.url %>"><%= contact.title %></a>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="links-out">
    <h2 class="section-title">Our Friends</h2>
    <ul>
      <% data.links.friends.each do |friend| %>
        <li>
          <a href="<%= friend.url %>"><%= friend.name %></a>:
          <%= friend.description %>
        </li>
      <% end %>
    </ul>
  </section>
</main>
