<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= render "title" %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= render "javascript" %>
  <%= render "typekit" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %> <%= content_for(:page_class) %> internal">
  <%= render "header" %>
  <%= yield %>
</body>

<%= render "footer" %>

</html>
